
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        
    </main>
</div>

@*<div class=background>
            <img class="img" src="images/Background.jpg" alt="immagine di sfondo"/>
          
        <a href="HomePage.razor" <img class="logo" src="images/Logo.png"/></a>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="">HOME</a>
                    <a href="">APPUNTAMENTI</a>
                    <a href="">CANDIDATI</a>
                    <a href="dipendenti">DIPENDENTI</a>
                    <a href="">COUNTER</a>
                    <a href="">CONTATTI</a>
                    
                </li>
            </ul>
        </div>

    <article class="content px-4">
        @Body
    </article>
    
    <div class="text-box">
        <h1>Human Resources Hub</h1>
        <a href="">Visit us to know more</a>
    </div>
        </div>*@
